.footer {
background-color: transparent;
height: 80px;
font-size: 1.6rem;
text-align: center;
opacity: 1;
top:0;
display: flex;
flex-direction: column;
justify-content: center;
margin-top: 50px;

a{
    font-size:small;
    color:white !important;
}
}

.row2-footer-links{
display: flex;
flex-direction: row;
gap: 10px;
padding: 5px;
justify-content: center;
background-color: inherit;
height: 40px;

}
.row3-return-to-top{
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 5px;
    align-items: self-start;
    height: 10px;
    padding-bottom: 5px;
    a{
        
        text-decoration: none;
        font-size: 18px;
    }
}

