.header {
    width: 100%;
    height: 60px;
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    margin-bottom:auto;
}
.HeaderContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
        padding: 5px;
    background-color: transparent;
    border: 1px solid rgb(30, 104, 82);
    flex-wrap:wrap;
    margin: 10px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    width: inherit;
    justify-content: center;
}








